<div class="bs-component">
    <div class="card">
        <h4 class="card-header">
            <a href="{{ include.post.url | absolute_url }}">
                {{ include.post.title }}
            </a>
        </h4>
        <ul class="list-group list-group-flush" style="padding-left: 0">
            {% for post in site.categories[category_name] limit:5 %}
            <li class="list-group-item">
                <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
                <div>
                    {% for tag in include.post.tags %}
                        <span class="badge badge-secondary">{{tag}}</span>
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
        </ul>
        <!--<div class="card-body">-->
            <!--<p class="card-text">-->
                <!--{{ include.post.content | truncate: 200 }}-->
            <!--</p>-->
            <!--{% for tag in include.post.tags %}-->
                <!--<span class="badge badge-secondary">{{tag}}</span>-->
            <!--{% endfor %}-->
        <!--</div>-->
    </div>
</div>