---
layout: default
---
<div class="bs-component">
    <div class="card">
        <h4 class="card-header">
            {{ page.title }}
        </h4>
        <ul class="list-group list-group-flush" style="padding-left: 0">
            {% for post in site.categories[page.category] %}
            <li class="list-group-item">
                <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
                <div style="float: left">
                    {% for tag in post.tags %}
                    <span class="badge badge-secondary">{{tag}}</span>
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>