<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'fa' }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% seo %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap-rtl.min.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}" />

    {% feed_meta %}
    {% if jekyll.environment == 'production' and site.google_analytics %}
    {% include google-analytics.html %}
    {% endif %}
</head>
<body class="rtl">

<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        <a href="/" class="navbar-brand" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
    </div>
</div>

<div class="container" style="margin-bottom: 100px">
    {{ content }}
</div>

<div class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-dark">
    <div class="container">
        <!--<li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>-->
        {% if site.email %}
        <a class="navbar-text" href="mailto:{{ site.email }}">{{ site.email }}</a>
        {% endif %}
        <a class="navbar-text" href="http://appza.ir">appza.ir</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
</body>
</html>
