---
layout: default
---

<div class="row">
    <div class="col-lg">
        {% include home_category.html title="React Native" category="react-native" %}
    </div>
    <!--<div class="col-lg">-->
        <!--{% include home_category.html title="Android" category="android" %}-->
    <!--</div>-->
    <div class="col-lg">
        {% include home_category.html title="GNU/Linux" category="linux" %}
    </div>
</div>

<!--<div class="row">-->
    <!--{% for category in site.categories %}-->
        <!--<div class="col-lg">-->
            <!--{% capture category_name %}{{ category | first }}{% endcapture %}-->
            <!--{% include home_category.html title=category_name %}-->
        <!--</div>-->
    <!--{% assign loopindex = forloop.index | modulo: 2 %}-->
    <!--{% if loopindex == 1 %}-->
        <!--<div class="w-100" style="height: 10px"></div>-->
    <!--{% endif %}-->
    <!--{% endfor %}-->
<!--</div>-->
