---
layout: default
---
<article>

    <h1 class="" itemprop="name headline">{{ page.title | escape }}</h1>
    <br/>

    <div style="text-align: justify">
        {{ content }}
    </div>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
